<!DOCTYPE html>
<html>
  <head>
    <title>Satchel | Your Commonplace Book</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav>
        <%= link_to "Create", users_path %> |
          <%= link_to "Present", users_path %> |
            <%# link_to "Sign Out", session_path(user), method: :delete %>
      </nav>
    </header>
    <%= yield %>

  </body>
</html>
